<h1>Short-list of potential names</h1>

<p>
  This is a list of all the single-word domains that
  are available at the moment. If you don't like a name, click <b>remove</b>.
</p>

<table>
  <% words.each do |word| %>
    <tr id="word_<%= word.id %>">
      <td><%= word.human.titleize %></td>
      <td><%= word.domain %></td>
      <td><%= link_to 'remove', word, method: :delete, remote: true %></td>
    </tr>
  <% end %>
</table>

<%= paginate(words) %>
