<h1>Listing words</h1>

<table>
  <tr>
    <th>Word</th>
    <th>Domain</th>
    <th></th>
    <th></th>
  </tr>

<% words.each do |word| %>
  <tr id="word_<%= word.id %>">
    <td><%= word.human %></td>
    <td><%= word.domain %></td>
    <td><%= link_to 'remove', word, method: :delete, remote: true %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Word', new_word_path %>
